/* CSS Document */

#freetobook-widget-buttons
{
	width:900px;
	border:1px solid #ddd;;
	border-collapse:collapse;
}


#freetobook-widget-buttons td
{
	text-align:center;
	padding:7px;
	border:none;	
}

